html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-family: 'robotolight';
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    color: #535353;
    /*background: #e3f6f3;*/
    font-weight: normal;
    font: 12px/18px 'robotolight';
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.callout {
    height: auto;
    width: auto;
    float: right;
}

.callout {
    background-color: #CCD17B;
    /*background-image: -moz-linear-gradient(top, #444, #444);*/
    position: relative;
    color: black;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #999;
    margin-right: 15px;
    margin-bottom: 15px;
    /*margin-top: 43px;*/
    border: 1px solid orange;
    text-shadow: 0 0 1px #b6edff;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

    .callout.left:before {
        right: -20px;
        top: 40%;
        border-left: 10px solid #b6edff;
    }
.logBookOffer {
    margin-bottom: 45px;
    width: 96.5%;
    text-align: center;
    float: left;
    background: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hide {
    display: none;
}

a {
    color: #323232;
    text-decoration: none;
}

    a:hover {
        color: #56b559;
        text-decoration: none;
    }

    a img {
        border: 0;
    }

.clr {
    clear: both;
}

.signoff {
    width: 984px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #adcfd0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 15px 25px;
}

.clr:after {
    clear: both;
    content: "";
    display: block;
}

#zindex {
    z-index: 9;
    position: relative;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
    position: relative;
}

#header {
    border-bottom: 10px solid #c94e03;
    /*background: #adcfd0;*/
    min-height: 105px;
}

#logo {
    position: absolute;
    top: 3px;
    left: 0;
}

.content_wrapper {
    padding: 15px 0px 50px 0px;
    min-height: 452px;
}

.inner_wrapper {
    padding: 50px 0;
}

#intro_login_register {
    width: 535px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

    #intro_login_register h1 {
        font-size: 30px;
        color: #072638;
        font-family: 'robotothin';
        line-height: normal;
        margin-bottom: 10px;
    }


#intro_login_register1 {
    margin-left: -20px;
    width: 975px;
    text-align: left;
}

    #intro_login_register1 h2 {
        font-size: 16px;
        line-height: normal;
        margin: 10px 0;
        font-weight: bold;
        padding: 4px 15px;
        background-color: #CCD17C;
        width: 950px;
    }

#boxes {
    margin-top: 10px;
}

.box {
    width: 400px;
    background: url(../Images/box_shadow.png) no-repeat 0 0;
    height: 225px;
    float: left;
    margin-right: 35px;
    padding: 35px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

    .box:last-child {
        margin-right: 0;
    }

    .box p {
        font-size: 18px;
        color: #333333;
        line-height: normal;
    }

    .box:first-child p {
        padding-top: 10px;
    }

    .box h5 {
        font-size: 15px;
        color: #333333;
        line-height: normal;
    }

    .box strong {
        font-size: 14px;
        color: #072638;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: block;
        margin: 5px 0;
    }

.Delete {
    background: url(/Images/delete_inline.gif) no-repeat center center;
    display: block;
    width: 30px;
    height: 18px;
    text-indent: -9999px;
    /* hides the link text */
}

.Edit {
    background: url(/images/Edit_inline.gif) no-repeat center center;
    display: block;
    width: 30px;
    height: 18px;
    text-indent: -9999px;
    /* hides the link text */
}

.login {
    float: none;
    margin: 0 auto !important;
    margin-top: 10px !important;
}

.button {
    background: #93a31c;
    display: inline-block;
    height: 34px;
    padding: 10px 30px;
    color: #fff;
    font-size: small;
    margin: 10px 0;
    line-height: normal;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: none;
    cursor: pointer;
}

.orange {
    background: #f2911c;
}

.cgreen {
    background: #298D66;
}

.small_margin {
}

.button:hover {
    background: #072638;
    color: #fff;
}

.loginbtn {
    position: absolute;
    right: 35px;
    bottom: 20px;
}

.form {
}

.text_field {
    width: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 13px 10px;
    background: #fff;
    margin-bottom: 15px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.text_field_required {
    width: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 13px 10px;
    background: #CCD17C;
    margin-bottom: 15px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

input[readonly], input[disabled], fieldset[disabled] {
    background-color: #CCD17C!important;
    opacity: 1;
}

select[readonly], input[disabled], fieldset[disabled] {
    background-color: #CCD17C!important;
    opacity: 1;
}

select:disabled {
    background-color: #CCD17C!important;
    opacity: 1;
}

.forpassword {
    text-align: left !important;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 222px;
}

.checkbox {
    margin-left: 15px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.radio {
    height: 17px;
    width: 20px;
    vertical-align: bottom;
}

span {
    color: red;
}

.warning {
    border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 12px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #69560a;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.17);
    padding-left: 45px;
    background: #f8df7b url(../Images/warning.png) no-repeat 15px center;
    margin: 10px 0;
}

    .warning p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #69560a;
    }

.loginwarning {
    width: 340px;
    margin: 10px auto;
}

.forgotwarning {
    width: 700px;
    margin: 10px auto;
}

#register {
    width: 997px;
    margin: 0 auto;
    /*background: url(../Images/register_bg.png) no-repeat 0 0;*/
    min-height: 375px;
    padding: 15px 20px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 10px;
}

    #register .column, .log-book-form .column {
        float: left;
        width: 239px;
    }

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #3c3c3c;
    margin-bottom: 3px;
    display: block;
}

    label span {
        color: red;
    }

#register .text_field {
    width: 95%;
    padding: 9px;
}

#register .text_field_required {
    width: 95%;
    padding: 9px;
}

.registerbtn {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 22px !important;
    margin-bottom: 30px;
}

.log-book-form .column {
    margin-right: 10px;
}

.yellow {
    background: #feefb2;
}

.text_field option {
    line-height: 28px;
}

.heading {
    margin-bottom: 20px;
}

    .heading h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #c94e03;
        font-family: 'robotomedium';
        margin-bottom: 15px;
        line-height: 30px;
    }

.typography {
    position: relative;
}

    .typography h3 {
        font-size: 16px;
        line-height: normal;
        margin: 10px 0;
        font-weight: bold;
    }

    .typography p {
        font-size: 14px;
        color: #072638;
        line-height: 24px;
    }

        .typography p a {
            color: #072638;
        }

            .typography p a:hover {
                color: #21aa96;
            }

#myaccount #left {
    float: left;
    width: 75%;
    position: relative;
}

#update_personal, #complete_application {
    font-size: 14px;
    color: #072638;
    text-decoration: underline;
}

#update_personal {
    position: absolute;
    right: 0;
    top: -0px;
}

    #update_personal:hover, #complete_application:hover {
        color: #21aa96;
        text-decoration: underline;
    }

#complete_application {
    position: absolute;
    right: 0;
    top: 174px;
}

#myaccount {
    margin-bottom: 20px;
}

    #myaccount #right {
        float: right;
        width: 225px;
        margin-top: -0px;
    }

.table {
    margin-bottom: 10px;
}

    .table .row {
        text-align: center;
        border-left: 1px solid #d3d3d3;
    }

    .table .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .table .column {
        background: #ffffff;
        border-right: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }

    .table .column_calc {
        background: #e6e6e6;
        padding: 10px;
        border: 1px solid #fff;
        margin-right: 0px;
        width: 23%;
        height: 77px;
        text-align: center;
    }

    .table .column_calc_row {
        background: #fff;
        padding: 10px;
        border: 1px solid #fff;
        margin-right: 0px;
        width: 5%;
    }

    .table .heading_column {
        background: #c94e03;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

    .table .heading_column_calc {
        background: #d1eae1;
        padding: 10px;
        border: 1px solid #fff;
        margin-right: 0px;
        font-weight: bold;
    }

    .table .heading_column strong {
        font-weight: bold;
        font-size: 14px;
    }

.table {
    /*border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;*/
}

#ttab_row {
    border: 1px solid #d3d3d3;
    background: #ffffff;
    width: 670px;
}

    #ttab_row .row {
        padding: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    #ttab_row .column {
        float: left;
        width: 33.33%;
        font-size: 12px;
        color: #5d5d5d;
    }

    #ttab_row .row:nth-child(2n) {
        background: #e3f6f3;
    }

    #ttab_row .row h3 {
        color: #c2720d;
        font-size: 18px;
        font-family: 'robotomedium';
        line-height: normal;
    }

.error {
    background: #F00;
    color: #fff;
}

.fourcolumn .table .column {
    width: 25%;
}

.fourcolumn .table .row:nth-child(2n) .column {
    background: #ffffff !important;
    border-right: 1px solid #d3d3d3;
}

.fourcolumn #right .table .row:nth-child(2n) .column {
    background: #ffffff !important;
    border-right: 1px solid #d3d3d3;
}

.fivecolumn .table .column {
    width: 20.00%;
}

.sixcolumn .table .column {
    width: 16.66%;
}

.eightcolumn .table .column {
    width: 12.50%;
}

.elevencolumn .table .column {
    width: 9.09%;
}

.tencolumn .table .column {
    width: 10%;
}

.eightcolumn .table .heading_column strong, .elevencolumn .table .heading_column strong, .tencolumn .table .heading_column strong {
    font-weight: bold;
    font-size: 13px;
}

#links {
    margin-bottom: 10px;
}

    #links ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #links ul li {
            font-size: 12px;
        }

            #links ul li a {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -o-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                background: #f2911c;
                padding: 2px 10px;
                margin-bottom: 4px;
                color: white;
                border: 1px solid #f2911c;
                display: block;
            }

#links2 {
}

    #links2 ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #links2 ul li {
            font-size: 12px;
            color: #fff;
        }

            #links2 ul li a {
                float: left;
                width: 188px;
                margin-right: 4px;
                background: #d8a927;
                text-align: center;
                padding: 3px;
                box-sizing: border-box;
                -o-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                margin-bottom: 4px;
                color: #fff;
                border-radius: 3px;
                -o-border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
            }

            #links2 ul li:nth-child(2n) a {
                margin-right: 0;
                background: #d8a927;
            }

                #links2 ul li:nth-child(2n) a.disabled {
                    background: grey;
                }

                    #links2 ul li:nth-child(2n) a.disabled:hover {
                        background: grey;
                    }


            #links2 ul li:nth-child(3) a {
                background: #d8a927;
            }
                #links2 ul li:nth-child(1) a.disabled {
                    background: grey;
                }

                #links2 ul li:nth-child(3) a.disabled {
                    background: grey;
                }

                    #links2 ul li:nth-child(3) a.disabled:hover {
                        background: grey;
                    }

            #links2 ul li:nth-child(4) a {
                background: #d8a927;
            }

            #links2 ul li a:hover {
                background: #072638;
            }




#links3 {
}

    #links3 ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #links3 ul li {
            font-size: 12px;
            color: #fff;
        }

            #links3 ul li a {
                float: left;
                width: 148px;
                margin-right: 4px;
                background: #d8a927;
                text-align: center;
                padding: 3px;
                box-sizing: border-box;
                -o-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                margin-bottom: 4px;
                color: #fff;
                border-radius: 3px;
                -o-border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
            }

            #links3 ul li:nth-child(2n) a {
                margin-right: 0;
                background: #d8a927;
            }

                #links3 ul li:nth-child(2n) a.disabled {
                    background: grey;
                }

                    #links3 ul li:nth-child(2n) a.disabled:hover {
                        background: grey;
                    }


            #links3 ul li:nth-child(3) a {
                background: #d8a927;
            }

                #links3 ul li:nth-child(3) a.disabled {
                    background: grey;
                }

                    #links3 ul li:nth-child(3) a.disabled:hover {
                        background: grey;
                    }

            #links3 ul li:nth-child(4) a {
                background: #d8a927;
            }

            #links3 ul li a:hover {
                background: #072638;
            }



.tabtab, #list-of-sea-going {
    margin-bottom: 20px;
    position: relative;
}

    .tabtab .left {
        float: left;
        width: 349px;
    }

    .tabtab .right {
        float: right;
        width: 676px;
        background: #ffffff;
        margin-left: -1px;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        padding: 5px 10px 10px;
        border: 1px solid #d3d3d3;
    }

.tab_link {
    /*position: absolute;
    right: 0;
    top: 0;*/
    float: right;
    margin-bottom: 10px;
    margin-top: -25px;
}

.tabtab .right a {
    color: #0f48d9;
    margin-right: 10px;
}

.back a {
    float: right;
    margin-right: -9px;
    padding: 8px 30px;
    background: #c94e03;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

    .back a:hover {
        background: #072638;
    }

.log-book-form .button {
    font-size: 14px !important;
    padding: 10px 37px;
}



/*#footer
{
    position: relative;
    height: 43px;
    background-color: #072638;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border-top: 3px solid #21aa96;
}

    #footer p
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #ffffff;
        line-height: 43px;
    }

    #footer .foot_left
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #ffffff;
        line-height: 43px;
    }

    #footer .foot_right
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #ffffff;
        line-height: 43px;
    }*/


#footer {
    background: #42845e;
    height: 55px;
    border-bottom: 3px solid #346a4b;
    position: relative;
}

#foot_left {
    float: left;
}

    #foot_left p {
        line-height: 58px;
        padding: 0 0 0 15px;
        color: #fff;
    }

        #foot_left p img {
            position: relative;
            top: 5px;
            margin-right: 5px;
        }

#foot_right {
    position: absolute;
    width: 514px;
    height: 93px;
    background: url(../../Images/foot_right.png) no-repeat 0 0;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 120px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 28px;
    padding-right: 100px;
}

    #foot_right h3 {
        text-transform: uppercase;
        color: #42845e;
        font-size: 15px;
    }


/* border-top:3px solid #21aa96; background:#072638; height:43px; }
# font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; line-height:43px; }*/




.paymentsummary {
    width: 75%;
    float: left;
}

.banner {
    width: 24%;
    float: right;
    height: 900px;
    margin-top: -15px;
    z-index: 30;
}

.paymentsummary .checkbox {
    float: left;
    margin-top: -3px;
    margin-left: 0px;
    margin-right: 15px;
}

.paymentsummary p {
    font-size: 18px;
    float: left;
    font-weight: bold;
}

.certificate {
    float: left;
}

.buttonDiv {
    float: right;
    margin-right: 24px;
    margin-top: 20px;
}

    .buttonDiv h2 {
        font-size: 28px;
        text-transform: uppercase;
        color: #c94e03;
        font-family: 'robotomedium';
        line-height: 20px;
        text-align: right;
    }

        .buttonDiv h2 label {
            font-size: 28px;
            text-transform: uppercase;
            color: #c94e03;
            font-family: 'robotomedium';
            line-height: 20px;
            display: inline;
        }

.ptab {
    float: left;
    margin-top: 40px;
}

    .ptab .header {
        padding: 7px 17px;
        width: 100px;
        border-radius: 12px 12px 0px 0px;
        -moz-border-radius: 12px 12px 0px 0px;
        -webkit-border-radius: 12px 12px 0px 0px;
        color: #D66F2A;
    }

        .ptab .header h2 {
            font-size: 20px;
            text-transform: uppercase;
            color: #c94e03;
            font-family: 'robotomedium';
            line-height: 20px;
        }


    .ptab .content {
        padding: 22px;
        width: 700px;
        border-radius: 1px 12px 12px 12px;
        -moz-border-radius: 1px 12px 12px 12px;
        -webkit-border-radius: 1px 12px 12px 12px;
    }

        .ptab .content .insts {
            font-size: 12px;
            float: left;
            font-weight: normal;
            margin-left: 41px;
        }

        .ptab .content .list {
            margin-top: 50px;
            margin-left: 40px;
            font-size: 15px;
        }

    .ptab .blue {
        background-color: #D1E9F5;
    }

    .ptab .green {
        background-color: #DDE9CA;
    }

.orange {
    background-color: #c94e03;
    color: #fff;
}

.pfooter {
    font-size: 11px;
    margin-top: 40px;
    float: left;
}

#Instructions2 p {
    font-size: 12px;
    font-weight: normal;
}

#Instructions2 ul {
    margin-left: 16px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    margin: -8px!important;
}

.areaInput {
    display: inline-flex;
    margin-top: 15px;
    width: 80%;
}
.label_input {
    margin-right: 15px;
    margin-top: 13px;
}
.label_input label {
    font-size: 15px;
}

#close {
    float: right;
    display: inline-block;
    padding: 3px 6px;
    background: #d8a927;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
}
    #close:hover {
        float: right;
        display: inline-block;
        padding: 3px 6px;
        background: #f2911c;
        color: #fff;
    }